*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif
}

.h-100px {
    height: 100px;
}

.h-5px {
    height: 25px;
}

.img-circle {
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
}

.bg-lightGreen {
    background-color: #52bb8a !important;
}

.border-top-gray {
    border-top: gray 1px solid;
}

.text-orange {
    color: orange
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}